:root {
  font-size: calc(100vw / 750);
}
body {
  background-color: #E7EAE6;
}
header {
  color: #282B27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20rem 25rem;
  font-size: 40rem;
}
header div .fa {
  font-size: 40rem;
}
header div .fa:last-child {
  margin-left: 50rem;
}
main ul {
  margin-top: 20rem;
  background-color: white;
  padding-left: 25rem;
}
main ul li {
  height: 100rem;
  font-size: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
}
main ul li .fa {
  font-size: 40rem ;
}
main ul li i {
  display: flex;
  align-items: center;
}
main ul li article {
  margin-left: 25rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1rem #E7EAE6;
  box-sizing: border-box;
}
main ul li article div {
  display: flex;
  align-items: center;
  padding-right: 25rem;
}
main ul li article div i:last-child {
  margin-left: 15rem;
  color: #DEE1DD;
  font-size: 30rem ;
}
main ul li article div img {
  width: 50rem;
  border: solid 1rem #E7EAE6;
  border-radius: 5rem;
}
main li:last-child article {
  border-bottom: none;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  font-size: 20rem;
}
footer a {
  color: #282B27;
  flex-direction: column;
  margin: 20rem 0;
  display: flex;
  align-items: center;
}
footer a .fa {
  font-size: 40rem;
}
footer a:nth-of-type(1),
footer a:nth-of-type(2) {
  position: relative;
}
footer a:nth-of-type(1) span:first-child,
footer a:nth-of-type(2) span:first-child {
  position: absolute;
  background-color: #F85D50;
  width: 40rem;
  height: 25rem;
  border-radius: 20rem;
  color: white;
  text-align: center;
  line-height: 25rem;
  left: 20rem;
}
footer a:nth-of-type(1):hover {
  color: green;
}
footer a:nth-of-type(2):hover {
  color: green;
}
footer a:nth-of-type(3):hover {
  color: green;
}
footer a:nth-of-type(4):hover {
  color: green;
}
